@mixin flex($direction: column, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin center-grid() {
  display: grid;
  place-content: center;
}

@mixin img-fluid {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin font-style(
  $font-size,
  $font-weight: 500,
  $line-height: $theme-line-height
) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

// Media Query
@mixin media-breakpoint-up($breakpoint) {
  @each $breakpoints, $size in $media {
    @if $breakpoint==$breakpoints {
      @media screen and (min-width: $size) {
        @content;
      }
    }
  }
}

@mixin media-hover-effect() {
  @media (hover: hover) {
    @content;
  }
}
