@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

// Font Family
$theme-text-font: "Barlow Semi Condensed", sans-serif;

// Primary Colors
$theme-moderate-violet-color: hsl(263, 55%, 52%);
$theme-very-dark-grayish-blue-color: hsl(217, 19%, 35%);
$theme-very-dark-blackish-blue-color: hsl(219, 29%, 14%);
$theme-white-color: hsl(0, 0%, 100%);

// Neutral Colors
$theme-light-gray-color: hsl(0, 0%, 81%);
$theme-light-grayish-blue-color: hsl(210, 46%, 95%);

$media: (
  sm: 576px,
  // Small devices
  md: 768px,
  // Medium devices
  lg: 992px,
  // Large devices
  xl: 1200px,
  // X-Large devices
  2xl: 1400px,
  // XX-Large devices
  3xl: 1900px,
  // XXX-Large devices
  rwd: 364px,
  // Custom device
);
