@charset "UTF-8";
/* Abstracts */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
/* Reset */
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  width: 100%;
  min-height: 100vh;
  background-color: hsl(210, 46%, 95%);
  display: grid;
  place-content: center;
}

/***
  The new CSS reset - version 1.8.4 (last updated 14.2.2023)
  GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
  Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
  - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
- fix for the content editable attribute will work properly.
- webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

/* Layout */
/* Components */
.sr-only {
  position: absolute;
  width: 0.063rem;
  height: 0.063rem;
  padding: 0;
  margin: -0.063rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.testimonials {
  margin: 4.5rem 1.5rem;
}
.testimonials__grid {
  display: grid;
  gap: 1.5rem;
  grid-template-areas: "first" "second" "third" "fourth" "fifth";
}
@media screen and (min-width: 768px) {
  .testimonials__grid {
    grid-template-areas: "first first" "second third" "fourth fifth";
  }
}
@media screen and (min-width: 992px) {
  .testimonials__grid {
    grid-template-areas: "first first fourth" "second second fifth" "third third fifth";
  }
}
@media screen and (min-width: 1400px) {
  .testimonials__grid {
    width: 69.375rem;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem 1.75rem;
    grid-template-areas: "first first second fifth" "third fourth fourth fifth";
  }
}
.testimonials__card {
  padding: 1.5rem 2.0625rem 2rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 6px 10px 15px -3px hsl(0, 0%, 81%);
}
.testimonials__card--first {
  grid-area: first;
}
.testimonials__card--second {
  grid-area: second;
}
.testimonials__card--third {
  grid-area: third;
}
.testimonials__card--fourth {
  grid-area: fourth;
}
.testimonials__card--fifth {
  grid-area: fifth;
}
.testimonials__card--moderate-violet {
  background: url("../../../assets/images/bg-pattern-quotation.svg") no-repeat right 1.5rem top;
  background-color: hsl(263, 55%, 52%);
}
@media screen and (min-width: 1400px) {
  .testimonials__card--moderate-violet {
    background-position: right 18% top;
  }
}
.testimonials__card--very-dark-grayish-blue {
  background-color: hsl(217, 19%, 35%);
  color: hsl(0, 0%, 100%);
}
.testimonials__card--moderate-violet, .testimonials__card--very-dark-blackish-blue {
  color: hsl(0, 0%, 100%);
}
.testimonials__card--moderate-violet:has(img) img, .testimonials__card--very-dark-blackish-blue:has(img) img {
  outline: 2px solid hsl(263, 55%, 62%);
}
.testimonials__card--very-dark-blackish-blue {
  background-color: hsl(219, 29%, 14%);
}
.testimonials__card--white {
  background-color: hsl(0, 0%, 100%);
  color: hsl(217, 19%, 35%);
}
.testimonials__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}
.testimonials__image {
  margin-right: 1rem;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 100%;
}
.testimonials__author {
  line-height: 1.35;
}
.testimonials__name {
  font-weight: 600;
}
.testimonials__verification {
  opacity: 0.5;
  font-size: 0.6875rem;
  font-weight: 600;
}
.testimonials__title {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
}
.testimonials__quote {
  line-height: 1.38;
  opacity: 0.7;
}
.testimonials__quote::before {
  content: open-quote;
}
.testimonials__quote::after {
  content: close-quote;
}

.footer {
  position: relative;
  right: 0.5rem;
  bottom: 0.5rem;
  z-index: 30;
  margin: 0.75rem 0.75rem 0.75rem 0;
}
@media screen and (min-width: 768px) {
  .footer {
    position: fixed;
    margin: 0;
  }
}
.footer__button {
  cursor: pointer;
  opacity: 0.7;
  display: block;
  margin-left: auto;
  border-radius: 50%;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.footer__button:hover {
  opacity: 1;
}
.footer__image {
  border: 4px solid hsl(219, 29%, 14%);
  border-radius: 50%;
}
.footer__button[aria-expanded=true] + .footer__attribution {
  visibility: visible;
  opacity: 1;
}
.footer__attribution {
  opacity: 0;
  color: hsl(0, 0%, 100%);
  padding-block: 1rem;
  padding-inline: 2.25rem;
  margin-inline: 1rem;
  background-color: hsl(219, 29%, 14%);
  border-radius: 0.5rem;
  gap: 1rem;
  visibility: hidden;
  --transition: 200ms ease-in-out;
  transition: transform var(--transition), visibility var(--transition), opacity var(--transition), background-color var(--transition);
  box-shadow: 0rem 0.625rem 0.625rem hsla(249, 10%, 26%, 0.5);
}
.footer__dialog {
  position: absolute;
  right: 2.75rem;
  bottom: 2.5rem;
}
.footer__dialog::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1.25rem 0rem 0.6875rem 0.9375rem;
  border-color: hsl(219, 29%, 14%) transparent transparent transparent;
  top: 81%;
  right: -2%;
  transform: rotate(326deg);
}
@media screen and (min-width: 768px) {
  .footer__dialog {
    width: -moz-max-content;
    width: max-content;
  }
}
.footer__text {
  font-size: 0.875rem;
  text-align: center;
}
.footer__link {
  font-weight: 700;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.footer__link:hover {
  color: hsl(263, 55%, 52%);
}

/*# sourceMappingURL=style.css.map */
